<h1 class="text-center"> <svg width="1em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cup-fill logo" fill="red" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8z"/>
</svg></h1>

<div class="container">
    <div class="row">
        <div class="col-9">
        <div class="card p-3 chat-card shadow">
            <h5>Followers Activity</h5>
            
            <%@messages.each do|message|%>
                <%=message.user.username%>:<%=message.body%><br/>
            <%end%>    
            
            <div class="d-flex flex-column justify-content-end" style="height:80vh;">
            <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EnterMessage">
            </div>
            <div class="input-group-append">
       <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
            </form>
            
                
            </div>          
        </div>
        </div>
        <div class="col-3">
        <div class="card p-3 chat-card shadow">
        <div class="container">
        <div class="card bg-dark" style="width: 10rem;">
        <ul class="list-group list-group-flush">
        <%=link_to 'Messages',root_path,class:"list-group-item bg-dark text-light",style:"text-decoration:none;"%>
        <%=link_to 'Messages',root_path,class:"list-group-item bg-dark text-light",style:"text-decoration:none;"%>
        <%=link_to 'Messages',root_path,class:"list-group-item bg-dark text-light",style:"text-decoration:none;"%>
          
        </ul>
      </div>
        </div>
        </div>
     </div>   
 </div>    
 </div>